:root {
  font-family: "Public Sans", serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display: flex;
  margin: 0px;
  overflow: hidden;
  min-height: 100vh;
  background-color: white;
  background-image: url(./assets/main-background.png);
}
